{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "rules": {
    "import/export": "error",
    "import/first": "error",
    "import/no-commonjs": "off",
    "import/no-deprecated": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "indent": ["error", 2],
    "no-console": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}
